*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Fira Mono', monospace;
}

body{
background-color: #000;
color:#00e500;
border:2px solid #00e500;
}
.footerStyle

.headerSTL{
 width: 100%;
 height: 70px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
 border:1px solid #00e500;
 padding: 10px;
}

svg{
    fill: #00e500;
}

.svgContainer{
    width: 20%;
    height: 100%;
    margin-top: -4px;
}

.pageContainer{
 width:80%;
 display: grid;
 grid-auto-flow: row;
 align-items: center;
 justify-content: center;
 margin: 5% 10% 5% 10%;
}

.callToActionTxt{
line-height: 1.8;
margin-bottom: 15px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

.divHeaderStyle{
display: flex;
flex-direction: row;
align-items: center;
text-align: center;
margin-bottom: 25px;
}

.divHeaderStyle{
width: 100%;
padding: 8px;
}

formHeaderStyle{
margin: 410px 0px 10px 0px ;
padding: 8px;
}


.formStyle{
position: relative;
font-size: 17px;
overflow: hidden;
width: 100%;
}

.formStyle span:first-of-type{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 4px;
background-image: linear-gradient(to right, transparent, #00e500);
animation: move1 3s linear infinite;
}

@keyframes move1 {
    0%{
        transform: translate(-100%);
    }
    100%{
        transform: translate(100%);
    }
    
}

.formStyle span:nth-of-type(2){
position: absolute;
top: 0;
right: 0;
width: 4px;
height: 100%;
background-image: linear-gradient(to right, transparent, #00e500);
animation: move2 3s linear infinite 1.6s;
}

@keyframes move2 {
    0%{
        transform:translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}


.formStyle span:nth-of-type(3){
position: absolute;
bottom: 0;
right: 0;
width: 100%;
height: 4px;
background-image: linear-gradient(to left, transparent, #00e500);
animation: move3 3s linear infinite;

}

@keyframes move3 {
    0%{
        transform: translate(100%);
    }
    100%{
        transform: translate(-100%);
    }
    
}

.formStyle span:last-of-type{
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-image: linear-gradient(to left, transparent, #00e500);
    animation: move4 3s linear infinite 1.5s;

}

@keyframes move4 {
    0%{
        transform:translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

.fildsetStyle{
display: flex;
flex-direction: column;
justify-content: left;
height: 40vh;
margin: 20px 20px 10px 20px;
border: none;
}

.textLabelStyle{
margin: 4px 0px 2px 5px;
}

.inputStyle{
padding: 8px;
width: 90%;
margin: 4px 10% 10px 10px;
border-radius: 10px;
}

.formQuestionStyle{
margin: 25px 20px 10px 20px;
}

.radioBtnContainerStyle{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
    
.radioBtnStyle{
margin: 10px 10px 10px 10px;
}

#answerNo{
margin-left: -0.5px;
}

.btnStyle{
width:60% ;
margin: 15px 20% 30px 20%;
padding:10px;
border-radius: 25px;
border: 3px solid #00e500;
background-color: #0000;
color: #00e500;
font-size: 15px;
}

.offeringTextStyle{
margin: 15px 0px 0px 0px;
}

.footerStyle{
    text-align: center;
    margin-bottom: 25px;
}

.glitchMotion{
animation: glitch 1s linear infinite;
}

.glitchMotion::before, .glitchMotion::after{
content:"Hacker News";
position: absolute;
left: 0;
}
@keyframes glitch {
    2%, 64%{
        transform: translate(3px, 0) skew(0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew(0deg);
    }
    62%{
        transform: translate(0, 0) skew(5deg);
    }
}

.glitchMotion::before{
animation: glitchTop 1s linear infinite;
clip-path: polygon(0 0 ,100% 0, 100% 35%, 0% 40%);
}

@keyframes glitchTop {
    2%, 64%{
        transform: translate(2px, -2px);
    }
    4%, 60%{
        transform: translate(-2px, 2px);
    }
    62%{
        transform: translate(15px, -1px) skew(-13deg);
    }
}

.glitchMotion::after{
    animation: glitchBottom 1.5s linear infinite;
    clip-path: polygon(0 67% ,100% 67%, 100% 100%, 0% 100%);
    }

    @keyframes glitchBottom {
        2%, 64%{
            transform: translate(0px, 0px);
        }
        4%, 60%{
            transform: translate(0px, 0px);
        }
        62%{
            transform: translate(-30px, 5px) skew(21deg);
        }
    }


    @media screen and (min-width: 700px) and (max-width:1300px) {

        .formStyle{
            position: relative;
            font-size: 17px;
            overflow: hidden;
            width: 80%;
            }

        .fildsetStyle{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 40vh;
            margin: 20px 20px 10px 20px;
            border: none;
            }
            

        .inputStyle{
            padding: 8px;
            width: 70%;
            margin: 4px 15% 10px 15%;
            border-radius: 10px;
            }

        .formQuestionStyle{
            text-align: center;
            margin: 25px 20px 10px 20px;
            }

        .radioBtnContainerStyle{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            }

        .btnStyle{
            width: 40%;
            margin-left: 30%;
        }
      }


      @media screen and (min-width:1301px) {
        .pageContainer{
            display: grid;
            grid-template: 100% / 1fr 1fr;
            gap:4em;
        }
        
        .footerStyle{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 25px;
        }
      }