*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color:#ffffff
}

.headerSTL{
 width: 100%;
 height: 10%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}